body{
    background-color: rgb(181, 188, 188);
}
.frame
{
    width: 344px;
    height: 420px;
    background-color: rgb(53, 51, 49);
    margin-left: 550px;
    margin-top: 100px;
    position: relative;
    border-radius: 20px;
    border: none;
}
#display
{
    width: 280px;
    height: 53px;
    margin-top: 50px;
    align-items: center;
    position: absolute;
    left: 34px;
    background-color: rgb(151, 161, 148);
    border-color:rgb(53, 51, 49); ;

}

#buttonSection
{
    position: absolute;
    top: 140px;
    left: 25px;
    justify-content: space-between;
}
button
{
   font-weight: 100px;
    width: 56px;
    height: 30px;
    margin-top: 12px;
    margin-left:12px;
    border-radius: 7px;
    border: none;
    
}
button:hover
{
    background-color: rgb(185, 191, 195);
}
.clearsection
{
    background-color: rgb(162, 131, 131);
    border: none;
}